body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    gap: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #fff;
    padding: 10px 50px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    flex-grow: 1;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.logo-img {
    width: 35%; /* lebar logo */
    height: auto; /* agar rasio aspek terjaga */
    display: block; /* agar bisa diberi margin dan padding */
    margin: 0 auto; /* tengahkan logo */
    border-radius: 10px; /* membuat sudut logo menjadi sedikit membulat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadow lembut */
    transition: transform 0.2s ease-in-out; /* animasi saat hover */
}

.logo-img:hover {
    transform: scale(1.05); /* sedikit memperbesar logo saat hover */
}

.menu {
    display: flex;
    padding: 10px 0;
}

.menu a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #54cbffce;
    transform: scale(1.05);
    color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
/* Styling untuk tanggal */
.date {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}
/* Styling untuk sumber */
.source {
    font-size: 12px;
    color: #888;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
}

.thumb-head {
    height: 100%;
    width: 100%;
}
.img-thumb {
  width: 100%;
  height: auto;
}

.toc {
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.toc h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.toc ul {
    justify-content: space-evenly;
    padding-left: 0;
}

.toc li {
    margin-bottom: 5px;
}

.toc a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.toc a:hover {
    color: #007bff;
}

.toc a:focus {
    outline: none;
}

li {
    list-style-type: none;
}

h1 {
    color: black;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
}

.game {
    margin-bottom: 20px;
}

footer {
    color: black;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

.Bagikan {
    font-size: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
